@import url('./Components/styles/Nav.css');
@import url('./Components/styles/Song.css');
@import url('./Components/styles/Player.css');
@import url('./Components/styles/library.css');
@import url('./Components/styles/Footer.css');
@import url('./Components/styles/mobile.css');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
